@font-face {  
    font-family: 'Segoe UI';  
    src: url('/fonts/Segoe UI.woff2') format('woff2'), url('/fonts/Segoe UI.woff') format('woff');  
    font-weight: normal;  
    font-style: normal;  
}  
body{
  font-family: 'Segoe UI';
}